{%load static%}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <!-- Sección de información de contacto y enlaces -->
    <div class="footer-container">
        <div class="contact-info">
            <h3>Contacto</h3>
            <p>Teléfono: 123-456-7890</p>
            <p>Email: info@miempresa.com</p>
        </div>
        <div class="links">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h3>Síguenos</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i>facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>instagram</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i>linkedin</a></li>
            </ul>
        </div>
    </div>
    <!-- Sección de derechos de autor -->
    <div class="copyright">
        <p>&copy; 2024 Laburapy. Todos los derechos reservados.</p>
    </div>
</footer>