{%load static%}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
    <!-- Sección del logo y el menú de navegación -->
    <div class="header-container">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Profesores</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>