{%load static%}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
    <!-- Sección del logo y el menú de navegación -->
    <div class="header-container">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Trabajos publicados</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>